.vot-header {
  &[hidden] {
    display: none !important;
  }

  color: rgba(var(--vot-helper-onsurface-rgb), 0.87);
  font-family: var(
    --vot-font-family,
    "Roboto",
    "Segoe UI",
    BlinkMacSystemFont,
    system-ui,
    -apple-system
  );
  font-weight: bold;
  line-height: 1.5;
  text-align: start;

  &:not(:first-child) {
    padding-top: 8px;
  }

  &-level-1 {
    font-size: 2em;
  }

  &-level-2 {
    font-size: 1.5em;
  }

  &-level-3 {
    font-size: 1.17em;
  }

  &-level-4 {
    font-size: 1em;
  }

  &-level-5 {
    font-size: 0.83em;
  }

  &-level-6 {
    font-size: 0.67em;
  }
}
