.vot-lang-select {
  &[hidden] {
    display: none !important;
  }

  --vot-helper-theme-rgb: var(--vot-onsurface-rgb, 0, 0, 0);
  --vot-helper-theme: rgba(var(--vot-helper-theme-rgb), 0.87);
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--vot-helper-theme);
  fill: var(--vot-helper-theme);

  &-icon {
    width: 32px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
