.vot-segmented-button {
  &[hidden] {
    display: none !important;
  }

  & * {
    -webkit-box-sizing: border-box !important;
    -moz-box-sizing: border-box !important;
    box-sizing: border-box !important;
  }

  --vot-helper-theme-rgb: var(--vot-onsurface-rgb, 0, 0, 0);
  --vot-helper-theme: rgba(var(--vot-helper-theme-rgb), 0.87);
  overflow: hidden;
  position: absolute;
  left: 50%;
  top: 5rem;
  transform: translate(-50%);
  user-select: none;
  display: flex;
  align-items: center;
  height: 32px;
  max-width: 100vw;
  background: rgb(var(--vot-surface-rgb, 255, 255, 255));
  color: var(--vot-helper-theme);
  fill: var(--vot-helper-theme);
  border-radius: 4px;
  font-family: var(--vot-font-family, "Roboto", "Segoe UI", BlinkMacSystemFont, system-ui, -apple-system);
  font-size: 16px;
  line-height: 1.5;
  cursor: default;
  transition: opacity 0.5s;
  z-index: 100;

  & .vot-separator {
    &[hidden] {
      display: none !important;
    }

    width: 1px;
    height: 50%;
    background: rgba(var(--vot-helper-theme-rgb), 0.1);
  }

  & .vot-segment {
    &[hidden] {
      display: none !important;
    }

    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 0 8px;
    background-color: transparent;
    color: inherit;
    transition: background-color 100ms ease-in-out;
    border: none;

    &::before,
    &::after {
      content: "";
      position: absolute;
      border-radius: inherit;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      opacity: 0;
    }

    &::before {
      background-color: rgb(var(--vot-helper-theme-rgb));
      transition: opacity 0.2s;
    }

    &::after {
      background: radial-gradient(circle at center, currentColor 1%, transparent 1%) center/10000% 10000% no-repeat;
      transition:
        opacity 1s,
        background-size 0.5s;
    }

    &:hover {
      &::before {
        opacity: 0.04;
      }
    }

    &:active {
      &::after {
        opacity: 0.16;
        background-size: 100% 100%;
        transition: background-size 0s;
      }
    }

    &-only-icon {
      @extend .vot-segment;
      min-width: 32px;
      padding: 0;
    }

    &-label {
      margin-left: 8px;
      white-space: nowrap;
    }
  }

  &[data-status="success"] .vot-translate-button {
    color: #8ab4f8;
    fill: #8ab4f8;
  }

  &[data-status="error"] .vot-translate-button {
    color: #f28b82;
    fill: #f28b82;
  }
}
