.vot-select {
  &[hidden] {
    display: none !important;
  }

  --vot-helper-theme-rgb: var(--vot-onsurface-rgb, 0, 0, 0) !important;
  --vot-helper-theme: rgba(var(--vot-helper-theme-rgb), 0.87) !important;
  --vot-helper-safari1: rgba(var(--vot-onsurface-rgb, 0, 0, 0), 0.6) !important;
  --vot-helper-safari2: rgba(
    var(--vot-onsurface-rgb, 0, 0, 0),
    0.87
  ) !important;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: var(
    --vot-font-family,
    "Roboto",
    "Segoe UI",
    BlinkMacSystemFont,
    system-ui,
    -apple-system
  );
  font-size: 14px;
  line-height: 1.5;
  text-align: start;

  color: var(--vot-helper-theme);
  fill: var(--vot-helper-theme);

  &-outer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 120px;
    width: 120px;
    padding: 0 5px;
    border-style: solid !important;
    border-width: 1px !important;
    border-color: var(--vot-helper-safari1) !important;
    border-radius: 4px !important;
    cursor: pointer;
    transition: border 0.2s !important;
    &:hover {
      border-color: var(--vot-helper-safari2) !important;
    }
  }

  &-title {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &-arrow-icon {
    width: 24px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &-content-list {
    display: flex;
    flex-direction: column;

    .vot-select-content-item {
      padding: 5px 10px;
      border-radius: 8px;
      cursor: pointer;
      &:not([inert]):hover {
        // background-color: rgb(38, 40, 45);
        background-color: rgb(42, 44, 49);
      }
      &[data-vot-selected="true"] {
        color: rgb(var(--vot-primary-rgb, 33, 150, 243));
        background-color: rgba(var(--vot-primary-rgb, 33, 150, 243), 0.2);
        &:hover {
          background-color: rgba(
            var(--vot-primary-rgb, 33, 150, 243),
            0.1
          ) !important;
        }
      }
      &[data-vot-disabled="true"] {
        cursor: default;
      }
      &[hidden] {
        display: none !important;
      }
    }
  }
}
