.vot-select {
  --vot-helper-safari1: rgba(var(--vot-onsurface-rgb, 0, 0, 0), 0.38);
  --vot-helper-safari2: rgba(var(--vot-onsurface-rgb, 0, 0, 0), 0.6);
  --vot-helper-safari3: rgba(var(--vot-onsurface-rgb, 0, 0, 0), 0.87);
  --vot-helper-theme: var(--vot-theme-rgb, var(--vot-primary-rgb, 33, 150, 243));
  --vot-helper-ontheme: var(--vot-ontheme-rgb, var(--vot-onprimary-rgb, 255, 255, 255));
  z-index: 0;
  position: relative;
  display: inline-block;
  color: rgba(var(--vot-onsurface-rgb, 0, 0, 0), 0.87);
  font-family: var(--vot-font-family, "Roboto", "Segoe UI", BlinkMacSystemFont, system-ui, -apple-system);
  font-size: 16px;
  line-height: 1.5;

  & > span {
    line-height: 32px;
    margin-right: 12px;
  }

  & > select {
    box-sizing: border-box;
    margin: 0;
    border-style: solid;
    border-width: 1px;
    border-color: var(--vot-helper-safari2);
    border-radius: 4px;
    padding: 5px 3px 5px;
    max-width: 150px;
    width: calc(100% / 2 - 16px);
    height: 32px;
    color: rgba(var(--vot-onsurface-rgb, 0, 0, 0), 0.87);
    -webkit-text-fill-color: currentColor;
    /* Safari */
    background-color: transparent;
    box-shadow:
      inset 1px 0 transparent,
      inset -1px 0 transparent,
      inset 0 -1px transparent;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    caret-color: rgb(var(--vot-helper-theme));
    transition:
      border 0.2s,
      box-shadow 0.2s;
    cursor: pointer;
    float: right;

    & > option {
      background: var(--vot-select-option-background, #1d1d1f);
    }
  }

  &:hover {
    & > select {
      border-color: var(--vot-helper-safari3);
    }

    & > select:not(:focus):invalid {
      border-color: var(--vot-helper-safari3);
    }
  }

  & > select:focus {
    border-color: rgb(var(--vot-helper-theme));
    box-shadow:
      inset 1px 0 rgb(var(--vot-helper-theme)),
      inset 0 1px rgb(var(--vot-helper-theme)),
      inset -1px 0 rgb(var(--vot-helper-theme)),
      inset 0 -1px rgb(var(--vot-helper-theme));
    outline: none;
  }

  & > select:disabled {
    border-color: var(--vot-helper-safari1) !important;
    color: rgba(var(--vot-onsurface-rgb, 0, 0, 0), 0.38);
    pointer-events: none;
  }
}

/* Faster transition in Safari for less noticable fractional font-size issue */
@media not all and (min-resolution: 0.001dpcm) {
  @supports (-webkit-appearance: none) {
    .vot-select > select {
      transition-duration: 0.1s;
    }
  }
}
