.vot-textfield {
  &[hidden] {
    display: none !important;
  }

  --vot-helper-theme: rgb(var(--vot-theme-rgb, var(--vot-primary-rgb, 33, 150, 243))) !important;
  --vot-helper-safari1: rgba(var(--vot-onsurface-rgb, 0, 0, 0), 0.38) !important;
  --vot-helper-safari2: rgba(var(--vot-onsurface-rgb, 0, 0, 0), 0.6) !important;
  --vot-helper-safari3: rgba(var(--vot-onsurface-rgb, 0, 0, 0), 0.87) !important;
  position: relative !important;
  display: inline-block;
  padding-top: 6px !important;
  font-family: var(--vot-font-family, "Roboto", "Segoe UI", BlinkMacSystemFont, system-ui, -apple-system) !important;
  font-size: 16px !important;
  line-height: 1.5 !important;
  text-align: start !important;

  & > input,
  & > textarea {
    -webkit-box-sizing: border-box !important;
    -moz-box-sizing: border-box !important;
    box-sizing: border-box !important;
    margin: 0 !important;
    border-style: solid !important;
    border-width: 1px !important;
    border-color: transparent var(--vot-helper-safari2) var(--vot-helper-safari2) !important;
    border-radius: 4px !important;
    padding: 15px 13px 15px !important;
    width: 100% !important;
    height: inherit !important;
    color: rgba(var(--vot-onsurface-rgb, 0, 0, 0), 0.87) !important;
    -webkit-text-fill-color: currentColor !important; /* Safari */
    background-color: transparent !important;
    box-shadow:
      inset 1px 0 transparent,
      inset -1px 0 transparent,
      inset 0 -1px transparent !important;
    font-family: inherit !important;
    font-size: inherit !important;
    line-height: inherit !important;
    caret-color: var(--vot-helper-theme) !important;
    transition:
      border 0.2s,
      box-shadow 0.2s !important;

    &:not(:focus):placeholder-shown {
      border-top-color: var(--vot-helper-safari2) !important;
    }

    & + span {
      position: absolute !important;
      top: 0 !important;
      left: 0 !important;
      display: flex !important;
      width: 100% !important;
      max-height: 100% !important;
      color: rgba(var(--vot-onsurface-rgb, 0, 0, 0), 0.6) !important;
      font-size: 75% !important;
      line-height: 15px !important;
      cursor: text !important;
      transition:
        color 0.2s,
        font-size 0.2s,
        line-height 0.2s !important;
      pointer-events: none !important;
    }

    &:not(:focus):placeholder-shown + span {
      font-size: inherit !important;
      line-height: 68px !important;
    }
  }

  /* Corners */
  & > input,
  & > textarea {
    & + span::before,
    & + span::after {
      content: "" !important;
      display: block !important;
      -webkit-box-sizing: border-box !important;
      -moz-box-sizing: border-box !important;
      box-sizing: border-box !important;
      margin-top: 6px !important;
      border-top: solid 1px var(--vot-helper-safari2) !important;
      min-width: 10px !important;
      height: 8px !important;
      pointer-events: none !important;
      box-shadow: inset 0 1px transparent !important;
      transition:
        border 0.2s,
        box-shadow 0.2s !important;
    }

    & + span::before {
      margin-right: 4px !important;
      border-left: solid 1px transparent !important;
      border-radius: 4px 0 !important;
    }

    & + span::after {
      flex-grow: 1 !important;
      margin-left: 4px !important;
      border-right: solid 1px transparent !important;
      border-radius: 0 4px !important;
    }

    &:not(:focus):placeholder-shown {
      & + span::before,
      & + span::after {
        border-top-color: transparent !important;
      }
    }
  }

  &:hover {
    & > input,
    & > textarea {
      border-color: transparent var(--vot-helper-safari3) var(--vot-helper-safari3) !important;

      & + span::before,
      & + span::after {
        border-top-color: var(--vot-helper-safari3) !important;
      }

      &:not(:focus):placeholder-shown {
        border-color: var(--vot-helper-safari3) !important;
      }
    }
  }

  & > input:focus,
  & > textarea:focus {
    border-color: transparent var(--vot-helper-theme) var(--vot-helper-theme) !important;
    box-shadow:
      inset 1px 0 var(--vot-helper-theme),
      inset -1px 0 var(--vot-helper-theme),
      inset 0 -1px var(--vot-helper-theme) !important;
    outline: none !important;

    & + span {
      color: var(--vot-helper-theme) !important;

      &::before,
      &::after {
        border-top-color: var(--vot-helper-theme) !important;
        box-shadow: inset 0 1px var(--vot-helper-theme) !important;
      }
    }
  }

  & > input:disabled,
  & > textarea:disabled {
    &,
    & + span {
      border-color: transparent var(--vot-helper-safari1) var(--vot-helper-safari1) !important;
      color: rgba(var(--vot-onsurface-rgb, 0, 0, 0), 0.38) !important;
      pointer-events: none !important;
    }

    & + span {
      &::before,
      &::after {
        border-top-color: var(--vot-helper-safari1) !important;
      }
    }

    &:placeholder-shown {
      &,
      & + span {
        border-top-color: var(--vot-helper-safari1) !important;
      }

      & + span {
        &::before,
        &::after {
          border-top-color: transparent !important;
        }
      }
    }
  }
}

/* Faster transition in Safari for less noticable fractional font-size issue */
@media not all and (min-resolution: 0.001dpcm) {
  @supports (-webkit-appearance: none) {
    .vot-textfield > input,
    .vot-textfield > input + span,
    .vot-textfield > textarea,
    .vot-textfield > textarea + span,
    .vot-textfield > input + span::before,
    .vot-textfield > input + span::after,
    .vot-textfield > textarea + span::before,
    .vot-textfield > textarea + span::after {
      transition-duration: 0.1s !important;
    }
  }
}
