.vot-icon-button {
  &[hidden] {
    display: none !important;
  }

  --vot-helper-onsurface: rgba(var(--vot-onsurface-rgb, 0, 0, 0), 0.87);
  position: relative;
  display: inline-block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  border: none;
  border-radius: 50%;
  padding: 0;
  width: 36px;
  height: 36px;
  vertical-align: middle;
  text-align: center;
  text-overflow: ellipsis;
  fill: var(--vot-helper-onsurface);
  color: var(--vot-helper-onsurface);
  background-color: transparent;
  font-family: var(
    --vot-font-family,
    "Roboto",
    "Segoe UI",
    BlinkMacSystemFont,
    system-ui,
    -apple-system
  );
  font-size: 14px;
  font-weight: 500;
  line-height: 36px;
  outline: none;
  cursor: pointer;

  &::-moz-focus-inner {
    border: none;
  }

  &::before,
  &::after {
    content: "";
    position: absolute;
    border-radius: inherit;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0;
  }

  &::before {
    background-color: var(--vot-helper-onsurface);
    transition: opacity 0.2s;
  }

  &::after {
    background: radial-gradient(
        circle at center,
        currentColor 1%,
        transparent 1%
      )
      center/10000% 10000% no-repeat;
    transition:
      opacity 0.3s,
      background-size 0.4s;
  }

  &:hover {
    &::before {
      opacity: 0.04;
    }
  }

  &:active {
    &::after {
      opacity: 0.32;
      background-size: 100% 100%;
      transition:
        background-size 0s,
        opacity 0s;
    }
  }

  &:disabled {
    background-color: transparent;
    color: rgba(var(--vot-onsurface-rgb, 0, 0, 0), 0.38);
    fill: rgba(var(--vot-onsurface-rgb, 0, 0, 0), 0.38);
    cursor: initial;

    &::before,
    &::after {
      opacity: 0;
    }
  }

  & svg {
    width: fit-content;
  }
}
