.vot-text-button {
  --vot-helper-theme: var(--vot-theme-rgb, var(--vot-primary-rgb, 33, 150, 243));
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  margin: 0;
  border: none;
  border-radius: 4px;
  padding: 0 8px;
  min-width: 64px;
  height: 36px;
  vertical-align: middle;
  text-align: center;
  text-overflow: ellipsis;
  color: rgb(var(--vot-helper-theme));
  background-color: transparent;
  font-family: var(--vot-font-family, "Roboto", "Segoe UI", BlinkMacSystemFont, system-ui, -apple-system);
  font-size: 14px;
  font-weight: 500;
  line-height: 36px;
  outline: none;
  cursor: pointer;

  &::-moz-focus-inner {
    border: none;
  }

  &::before,
  &::after {
    content: "";
    position: absolute;
    border-radius: inherit;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0;
  }

  &::before {
    background-color: rgb(var(--vot-helper-theme));
    transition: opacity 0.2s;
  }

  &::after {
    background: radial-gradient(circle at center, currentColor 1%, transparent 1%) center/10000% 10000% no-repeat;
    transition:
      opacity 1s,
      background-size 0.5s;
  }

  &:hover {
    &::before {
      opacity: 0.04;
    }
  }

  &:active {
    &::after {
      opacity: 0.16;
      background-size: 100% 100%;
      transition: background-size 0s;
    }
  }

  &:disabled {
    background-color: transparent;
    color: rgba(var(--vot-onsurface-rgb, 0, 0, 0), 0.38);
    cursor: initial;

    &::before,
    &::after {
      opacity: 0;
    }
  }
}
