.translationBlock {
  padding: 0.25rem 0.45rem;
  width: max-content;
  position: absolute;
  background: #2e2f34;
  border-radius: 0.5rem;
  left: 50%;
  top: 5rem;
  transform: translate(-50%);
  text-align: center;
  opacity: 0;
  transition: opacity 1s;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.translationBtn {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  color: #fff;
  padding-right: 0.25rem;
  cursor: pointer;
  font: 600 12px / 14px "Segoe UI", BlinkMacSystemFont, Arial, sans-serif;
}

.translationBlock:hover {
  opacity: 1;
}

.translationMenu {
  display: inline-block;
  vertical-align: middle;
  border-left: 1px solid #424348;
  max-height: 16px;
  max-width: 16px;
  padding-right: 0.7rem;
  cursor: pointer;
}

.translationMenuIcon {
  padding: 0 10px;
}

.translationIAlice {
  display: inline-block;
  vertical-align: middle;
  max-height: 26px;
  max-width: 50px;
}

.translationITranslate {
  display: inline-block;
  vertical-align: middle;
  max-height: 20px;
  max-width: 20px;
}

.translationMenuContent {
  position: absolute;
  background: #2e2f34;
  display: hide;
  border-radius: 1rem;
  left: 50%;
  top: 9rem;
  transform: translate(-50%);
  text-align:left;
  font: 600 14px / 16px "Segoe UI", BlinkMacSystemFont, Arial, sans-serif;

  width: 300px;
  height: 300px;
  opacity: 0;
  transition: opacity 2s;
}

.translationVolumeSlider {
  -webkit-appearance: none;
  appearance: none;
  width: 80%;
  height: 8px;
  outline: none;
  opacity: 0.7;
  background: #3C3F4D;
  border: none;
  border-radius: 2rem;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}

.translationVolumeSlider:hover {
  opacity: 1;
}

.translationVolumeSlider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: none;
  background: #fff;
  cursor: pointer;
}

.translationVolumeSlider::-moz-range-thumb {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: none;
  background: #fff;
  cursor: pointer;
}

.translationVolumeSlider::-ms-thumb {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: none;
  background: #fff;
  cursor: pointer;
}

.translationVolumeSlider::-ms-fill-lower {
  height: 8px;
  border-radius: 2rem;
  background: linear-gradient(90.1deg, rgba(186, 153, 244, 0.85) -5.78%, rgba(236, 138, 202, 0.7) 56.46%, rgba(239, 168, 117, 0.6) 108.93%);
}

.translationVolumeSlider::-moz-range-progress {
  height: 8px;
  border-radius: 2rem;
  background: linear-gradient(90.1deg, rgba(186, 153, 244, 0.85) -5.78%, rgba(236, 138, 202, 0.7) 56.46%, rgba(239, 168, 117, 0.6) 108.93%);
}

.translationHeader {
  padding-bottom: 0.5rem;
}

.translationMainHeader {
  padding: 2rem 2rem 1rem 2rem;
  font: 900 14px / 16px "Segoe UI", BlinkMacSystemFont, Arial, sans-serif;
}

.translationMenuContainer {
  width: 100%;
  padding-left: 15px;
  padding-top: 5px;
}

.translationMenuText {
  width: 80%;
}

.translationVolumeBox {
  padding-top: 0.5rem;
}

.translationDropDB {
  border: none;
  border-radius: 4px;
  background: #5426FF;
  color: #fff;
  padding: 6px 16px;
  cursor: pointer;
}

#translationDropDBContainer {
  position: absolute;
  left: 0;
  bottom: 0;
  margin-bottom: 2rem;
}