.translation-btn,
.btn-error::before {
  box-sizing: border-box;
  position: absolute;
  left: 50%;
  border-radius: 0.8rem;
}

.translation-btn {
  width: 16.3rem;
  padding: 1.0rem;
  background: #2E2F34;
  background-image: url(http://localhost:1337/video/YAlice.svg), url(https://icongr.am/entypo/language.svg?size=18&color=ffffff);
  background-repeat: no-repeat, no-repeat;
  background-position-y: center, center;
  background-position-x: 8px, 34px;
  text-align: right;
  font: 600 12px / 14px "Segoe UI", BlinkMacSystemFont, Arial, sans-serif;
  top: 6rem;
  opacity: 0;
  transition: opacity 2s;
}

.btn-error::before {
  content: attr(data-error);
  font: 600 12px / 14px "Segoe UI", BlinkMacSystemFont, Arial, sans-serif;
  top: 4rem;
  transform: translate(-50%);
  width: max-content;
  padding: 0.9rem;
  color: white;
  background-color: #2E2F34;
}

.btn-success {
  background: #2E2F34;
  background-image: url(http://localhost:1337/video/YAlice.svg), url(https://icongr.am/entypo/language.svg?size=18&color=A36EFF);
  background-repeat: no-repeat, no-repeat;
  background-position-y: center, center;
  background-position-x: 8px, 34px;
  color: #A36EFF;
}